@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900");
.App {
  text-align: center;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: rgba(255, 255, 255, 0.84);
}

.weather-card {
  margin: 60px auto;
  height: 740px;
  width: 450px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  overflow: hidden;
}

.top {
  position: relative;
  height: 400px;
  width: 100%;
  overflow: hidden;
  background-image: linear-gradient(to bottom, #00b4db, #0083b0);
  text-align: center;
}

.wrapper {
  padding: 30px;
  position: relative;
  z-index: 1;
}

.myNav{
  height: 20px;
}

.lnr {
  color: #fff;
  font-size: 28px;
}

.lnr-grade {
  display: inline-block;
  float: right;
  cursor: pointer;
}

.lnr-grade:hover {
  font-weight: bold;
  font-size: 30px;
}

.heading {
  margin-top: 20px;
  font-size: 35px;
  font-weight: 400;
  color: #fff;
}

.location {
  margin-top: 20px;
  font-size: 21px;
  font-weight: 400;
  color: #fff;
}

.temp {
  font-family: 'Montserrat', sans-serif;
  margin-top: 20px;
}

.temp-value {
  display: inline-block;
  font-size: 85px;
  font-weight: 600;
  color: #fff;
}

.temp-type {
  font-size: 85px;
  color: #fff;
}

.bottom {
  padding: 0 30px;
  background: #fff;
}

.forecast {
  overflow: visible;
  margin: 0;
  padding: 20px 0 0;
  height: 100%;
}

li {
  display: block;
  font-size: 25px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.50);
  line-height: 1em;
  margin-bottom: 30px;
}

.img-container{
  display: flex;
  flex-direction: column;
}

img{
  margin: auto;
}
